*{
    padding: 0;
    margin: 0;
}
.hero{
    background-image: url(images/bgc_netflix.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}
h1{
    font-size: 35px;
    font-weight: bolder;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}
.logo{
    height: 30px;

    
}
.header{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
button{
    background-color: #e50914;
    color: white;
    text-align: center;
    padding: 6px 8px;
    border-radius: 4px ;
    border: red;
}
button:hover{
    background-color: #a40b0b;
}
.lang{
    color: white;
    background-color: transparent;
   padding: 5px 8px;
    border-radius: 4px ; 
}
.lang option{
    color: black;
}
.nav-buttons{
    display: flex;
    gap: 20px;
}
.hero-content{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 15px;

}
.input-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.input-box input{
    background-color: black;
    opacity: 0.6;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    border: solid white 1px;
}
.input-box input:hover{
    border-color: white;
}
.separate-line{
    height: 5px;
    background-color: #575555;
    width: 100%;

}
.tv-section{
    background-color: black;
    padding: 60px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.tv-content{
    color: white;
}
.tv-content h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.tv-content p{
    font-size: 17px;
}

.tv-display{
    position: relative;
}
.tv-img{
    position: relative;
    z-index: 2;
    width: 400px;
}
.tv-video{
    position: absolute;
    z-index: 1;
    width: 300px;
    bottom: 25%;
    left:11%;
}
.download{
    background-color: black;
    padding: 60px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.download-content{
    color: white;
    max-width: 400px;

}
.mobile-img{
    width: 450px;
}
.download-content h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.watch-everywhere-section{
    background-color: black;
    padding: 60px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.watch-everywhere-text{
    color: white;
}
.watch-everywhere-text h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.watch-everywhere-text p{
    font-size: 17px;
}